<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PairBnB notification</h1>
    <p>
      Congratulations! You have received a booking from <%= @customer %> for <%= @listing %>.<br>
    </p>
  </body>
</html>