<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PairBnB notification</h1>
    <p>
      This confirms your payment for <%= @listing_address %> of <%= @amount %>.<br>
    </p>
  </body>
</html>